{% extends "layouts/admin.html" %} {% block content %}
<section>
  <h2>Edit '{{ data.page.slug }}' Content</h2>
  <div class="container-fluid p-0 mb-2">
    <select
      class="form-select form-select-sm w-auto"
      hx-trigger="change"
      hx-get="/admin/content/edit/{{pageId}}"
      hx-target="body"
      hx-push-url="true"
      name="lang"
    >
      {% for item in supportedLangs %} {% if item.code === language %}
      <option value="{{ item.code }}" selected>{{ item.name }}</option>
      {% else %}
      <option value="{{ item.code }}">{{ item.name }}</option>
      {% endif %} {% endfor %}
    </select>
  </div>
  <vnmu-editor></vnmu-editor>
  <vnmu-file-uploader></vnmu-file-uploader>
</section>

{% endblock %}
