{% extends "layouts/admin.html" %}

{% block content %}
<section>
  <div class="admin-page-header">
    <h1>{{ t('admin.actions.edit') }} — {{ data.page.slug }}</h1>
  </div>

  <div class="admin-lang-selector" hx-boost="true">
    {% for item in supportedLangs %}
      {% if item.code === language %}
      <a href="/admin/content/edit/{{pageId}}?lang={{ item.code }}" aria-current="true">{{ item.name }}</a>
      {% else %}
      <a href="/admin/content/edit/{{pageId}}?lang={{ item.code }}">{{ item.name }}</a>
      {% endif %}
    {% endfor %}
  </div>

  <vnmu-editor lang="{{ language }}" page-id="{{ pageId }}"></vnmu-editor>
  <vnmu-file-uploader-host page-id="{{ pageId }}"></vnmu-file-uploader-host>
</section>
{% endblock %}
