<div class="container" hx-boost="true" preload preload-images="true">
  {{ session }}
  <header class="border-bottom lh-1 py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-5 d-sm-flex d-md-none align-items-center">
        <a
          href="#"
          data-bs-toggle="offcanvas"
          data-bs-target="#sidebar"
          aria-controls="sidebar"
          aria-label="{{ t('nav.sidebarOpen')}}"
        >
          <img
            height="35"
            src="public/assets/icons/menu.svg"
            alt="{{ t('nav.sidebarOpen') }}"
          />
        </a>
      </div>

      <div class="col-5 d-flex align-items-center d-none d-md-flex">
        <select
          class="form-select form-select-sm w-auto"
          hx-trigger="change"
          hx-post="/change-language"
          hx-target="body"
          name="language"
        >
          {% for item in supportedLangs %} {% if item.code ===
          i18n.resolvedLanguage %}
          <option value="{{ item.code }}" selected>{{ item.name }}</option>
          {% else %}
          <option value="{{ item.code }}">{{ item.name }}</option>
          {% endif %} {% endfor %}
        </select>


        {% if user.role === Roles.ADMIN %}
        <a
          class="btn btn-sm btn-outline-danger ms-3"
          href="/admin"
          hx-boost="false"
          >{{ t('nav.admin') }}</a
        >
        {% endif %}
      </div>
      <div class="col-2 text-center d-flex justify-content-center">
        <a
          class="blog-header-logo text-body-emphasis text-decoration-none"
          href="/"
        >
          <img
            class="d-block"
            height="50"
            src="public/assets/images/logo.svg"
            alt="Logo"
          />
        </a>
      </div>
      <div
        class="col-5 d-flex justify-content-end align-items-center d-none d-md-flex"
      >
        {% if user %}
        <a
          class="btn btn-sm btn-outline-secondary me-3"
          href="/profile"
          >{{ t('nav.profile') }}</a
        >
        <a
          class="btn btn-sm btn-outline-secondary"
          hx-post="/logout"
          hx-target="body"
          >{{ t('nav.logout') }}</a
        >
        {% else %}
        <a
          class="btn btn-sm btn-outline-secondary me-3"
          href="/sign-in"
          hx-boost="false"
          >{{ t('nav.signin') }}</a
        >
        <a
          class="btn btn-sm btn-outline-secondary"
          href="/sign-up"
          hx-boost="false"
          >{{ t('nav.signup') }}</a
        >
        {% endif %}
      </div>

      <div class="col-5 d-sm-flex d-md-none"></div>
    </div>
  </header>

  <div class="nav-scroller py-1 border-bottom d-none d-md-block">
    <nav class="nav nav-underline justify-content-between p-0">
      {% for item in nav %}
      <a
        class="nav-item nav-link link-body-emphasis {% if item.name === page %}active{% endif %}"
        href="{{ item.nav }}"
        >{{ t(item.translation) }}</a
      >
      {% endfor %}
    </nav>
  </div>
</div>

{% include "partials/sidebar.html" %}
