<div
  class="offcanvas offcanvas-start overflow-scroll invisible-scrollbar"
  tabindex="-1"
  id="sidebar"
  aria-label="{{ t('nav.sidebar') }}"
  hx-boost="true"
  preload
  preload-images="true"
>
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary flex-fill">
    <div class="row flex-nowrap">
      <div class="col-3"></div>
      <div class="col-6 d-flex justify-content-center">
        <a
          class="blog-header-logo text-body-emphasis text-decoration-none"
          href="/"
          data-bs-dismiss="offcanvas"
          data-bs-target="#sidebar"
        >
          <img
            class="d-block"
            height="50"
            src="public/assets/images/logo.ico"
            alt="Logo"
          />
        </a>
      </div>
      <div class="col-3 d-flex justify-content-center align-items-center p-0">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          data-bs-target="#sidebar"
          aria-controls="sidebar"
          aria-label="{{ t('nav.sidebarClose')}}"
        ></button>
      </div>
    </div>
    <hr />
    <ul class="nav nav-pills flex-column">
      {% for item in nav %}
      <li class="nav-item">
        <a
          class="nav-link {% if item.name === page %}active{% else %}link-body-emphasis{% endif %}"
          href="{{ item.nav }}"
          data-bs-dismiss="offcanvas"
          data-bs-target="#sidebar"
          >{{ t(item.translation) }}</a
        >
      </li>
      {% endfor %}
    </ul>
    <hr />

    <div class="dropdown w-auto">
      {% for item in supportedLangs %} {% if item.code === i18n.resolvedLanguage
      %}

      <a
        class="btn btn-outline-secondary dropdown-toggle d-block"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        {{ item.name }}
      </a>
      {% endif %} {% endfor %}

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for item in supportedLangs %} {% if item.code !==
        i18n.resolvedLanguage %}
        <a
          class="dropdown-item"
          href="#"
          hx-post="/change-language?language={{ item.code }}"
          hx-target="body"
          data-bs-dismiss="offcanvas"
          data-bs-target="#sidebar"
          >{{ item.name }}</a
        >

        {% endif %} {% endfor %}
      </div>
    </div>

    <hr />
    <div class="d-flex flex-column">
      {% if user %}
      <a
        class="btn btn-outline-secondary mb-3"
        data-bs-dismiss="offcanvas"
        data-bs-target="#sidebar"
        href="/profile"
        >{{ t('nav.profile') }}</a
      >
      <a
        class="btn btn-outline-secondary"
        data-bs-dismiss="offcanvas"
        data-bs-target="#sidebar"
        hx-post="/logout"
        hx-target="body"
        >{{ t('nav.logout') }}</a
      >
      {% else %}
      <a
        class="btn btn-outline-secondary mb-3"
        data-bs-dismiss="offcanvas"
        data-bs-target="#sidebar"
        href="/sign-in"
        >{{ t('nav.signin') }}</a
      >
      <a
        class="btn btn-outline-secondary"
        data-bs-dismiss="offcanvas"
        data-bs-target="#sidebar"
        href="/sign-up"
        >{{ t('nav.signup') }}</a
      >
      {% endif %}
    </div>
  </div>
</div>
