<!doctype html>
<html lang="{{ i18n.resolvedLanguage }}">
  <head>
    <title>{{ t('title') }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="public/assets/images/logo.svg" type="image/svg+xml">
    <script type="module" src="../../scripts/error.js"></script>
  </head>
  <body>
    <main class="container mt-3">
      <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-5">
          <div class="card shadow-sm border-0 mb-5">
            <div class="card-body p-4 p-md-5">
              <div class="d-flex flex-column align-items-center">
                <div class="display-1 text-danger mb-3">
                  <span>{{ code }}</span>
                </div>
                <h2 class="fw-bold">{{ title }}</h2>
                <p class="text-muted text-center">{{ description }}</p>
              </div>

              <div class="d-grid">
                <a href="/" class="btn btn-primary">
                  {{ t('pages.error.goHome') }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
