{% extends "layouts/base.html" %} {% block content %} {% include
"partials/header.html" %}

<main class="container mt-3" hx-boost="true" preload preload-images="true">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-7 px-0">
      <h2 class="fst-italic">{{ t("pages.home.featured.title") }}</h2>
      <p class="lead my-3">{{ t("pages.home.featured.description") }}</p>
      <p class="lead mb-0">
        <a href="/about" class="text-body-emphasis fw-bold">
          {{ t("pages.home.featured.continue") }}
        </a>
      </p>
    </div>
  </div>
</main>
{% endblock %}
