{% extends "layouts/base.html" %}

{% block content %}
{% include "partials/bs-skip-link.html" %}
{% include "partials/bs-masthead.html" %}
{% include "partials/bs-nav.html" %}
{% include "partials/bs-mobile-nav.html" %}

<main id="main-content" preload preload-images="true">
  <div class="centered-card">
    <h1 class="centered-card-title">{{ title }}</h1>
    <p class="centered-card-desc">{{ description }}</p>
    <a href="/" class="btn btn-primary">
      {{ t('pages.message.goHome') }}
    </a>
  </div>
</main>

{% include "partials/bs-footer.html" %}
{% endblock %}
